@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Editorial New;
    font-weight: 300;
    src: url(/fonts/EditorialNew-Ultralight.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: Editorial New;
    font-weight: 400;
    src: url(/fonts/EditorialNew-Regular.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: Neue Haas;
    font-weight: 400;
    src: url(/fonts/NeueHaasDisplay-Roman.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: Neue Haas;
    font-weight: 600;
    src: url(/fonts/NeueHaasDisplay-Mediu.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: Neue Haas;
    font-weight: 700;
    src: url(/fonts/NeueHaasDisplay-Bold.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: Space Grotesk;
    font-weight: 600;
    src: url(/fonts/SpaceGrotesk-Medium.woff2) format("woff2");
    font-display: swap;
  }
}

@layer utilities {
  @variants responsive {
    .mt-header {
      margin-top: var(--global-header-height);
    }
  }
}

body {
  @apply font-sans;
  @apply text-base;
}